
<router-outlet></router-outlet>

<footer class="container-fluid mt-9 pt-5 pb-5 bg-dark-blue text-center">
    <img class="logo logo-centered pt-5 pb-5 reveal" src="../assets/media/logo_03.png" alt="Logo" name="Logo" />

    <h2 class="pb-5 lead text-light font-weight-normal reveal">Living, learning, & leveling up<br/>one day at a time.</h2>

    <ul class="pb-5 mb-1 list-unstyled d-block text-white reveal">
        <li class="d-inline-block"><a href="https://www.linkedin.com/in/brend-lambert-211981162/" target="_blank" class="fab fa-linkedin-in"></a></li>
        <li class="d-inline-block"><a href="https://github.com/BlNARYFOUR" target="_blank" class="fab fa-github"></a></li>
        <li class="d-inline-block"><a href="mailto:lambertbrend@gmail.com" class="far fa-envelope"></a></li>
    </ul>

    <span class="pb-2 d-block lead text-light font-weight-light text-small reveal">Handcrafted by me &copy; BinaryFour</span>
    <span class="pb-4 text-light"><a (click)="toggleLogin()">login</a> - <a>register</a></span>
</footer>

<div *ngIf="loginActive" class="login position-fixed fixed-top w-100 h-100" animateOnScroll animationName="fadeIn">
    <div class="w-100 h-100 bg-darker text-center">
        <div class="account-popup bg-white d-inline-block vertical-middle">
            <span class="close" (click)="toggleLogin()"><i class="fas fa-times"></i></span>

            <h3>Login</h3>

            <form [formGroup]="loginForm" (submit)="loginSubmit()">
                <div class="cfield" [ngClass]="{'input-error' : formControls().email.errors}">
                    <input formControlName="email" type="email" placeholder="Email address">
                    <i class="fas fa-user"></i>
                </div>
                <div class="input-error-message"><!----></div>
                <div class="cfield" [ngClass]="{'input-error' : formControls().password.errors}">
                    <input formControlName="password" type="password" placeholder="Password">
                    <i class="fas fa-key"></i>
                </div>

                <button class="ng-tns-c3-0" [ngClass]="{'login-button-invalid' : (loginForm.pristine || loginForm.invalid)}" type="submit" [disabled]="loginForm.pristine || loginForm.invalid">
                    Login
                </button>

                <div class="create-account">
                    <span class="ng-tns-c3-0">
                        <a class="ng-tns-c3-0">Nog geen login, registreer je <strong>hier</strong>.</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>