.article {
  > .caption {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    font-size: 13px;
    color: #a7a7a7;

    > .icon {
      vertical-align: middle;
      display: inline-block;
      background: rgb(0, 53, 87) no-repeat url('../../../assets/media/logo_03.png') center center;
      background-size: 30px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }

    > div {
      width: calc(100% - 35px);
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      > .extra {
        display: inline-block;
        vertical-align: middle;
        padding-left: 30px;
        white-space: nowrap;
      }

      > .edit {
        cursor: pointer;
      }
    }

    .name {
      white-space: nowrap;
      vertical-align: middle;
      padding-left: 15px;
    }
  }

  > .body {
    font-size: 16px;
    color: #666;
    line-height: 29px;

    > strong {
      font-weight: 700;
    }

    > h2 {
      font-size: 20px;
      color: rgb(0, 53, 87);
      margin-bottom: 1px;
    }

    > h3 {
      font-style: italic;
      font-size: 17px;
      color: rgb(0, 33, 67);
      padding-top: 10px;
      padding-bottom: 5px;
    }

    > h4 {
      font-style: italic;
      font-size: 13px;
      color: rgb(0, 36, 99);
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
}

aside {
  > h2 {
    width: 100%;
    margin: 0;
    font-size: 15px;
    line-height: 2;
    color: #202020;
  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 74px;
    cursor: pointer;
  }

  div {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    width: calc(100% - 15px - 74px);

    > h3 {
      cursor: pointer;
      font-size: 13px;
      font-weight: normal;
      color: #202020;
      margin-bottom: 0;
    }

    h3:hover {
      color: lightslategrey;
    }

    > span {
      width: 100%;
      font-size: 13px;
      color: #888;
      margin-top: 5px;
    }
  }
}