<header>
    <div class="jumbotron pb-5 rounded-0 text-center bg-darker">
        <nav class="pb-5">
            <img class="logo float-left" src="../../../assets/media/logo_03.png" alt="Logo" name="Logo" />
        </nav>

        <h1 class="mb-2 h2 font-weight-bold text-center text-white hide-on-init" animateOnScroll animationName="animated fadeIn">{{blog == null ? '&nbsp;' : blog['title']}}</h1>
    </div>
</header>

<main id="main" class="mt-5 pb-4">

    <section class="mt-2 container" *ngIf="blog != null">

        <div class="row">
            <div class="col-lg-9 column mb-5 article hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <nav class="mb-4"><a routerLink="/">blog</a> / <a routerLink="/blog/{{blog['id']}}">{{blog['title']}}</a></nav>
                <img class="img-fluid w-100 rounded" src="{{apiUrl}}blogs/images/{{blog['wallpaper']}}" [alt]="blog['wallpaper']" [title]="blog['title']"/>

                <div class="caption">
                    <span class="icon"></span><span class="name">Brend Lambert</span>
                    <div>
                        <span class="extra">{{blog['date'].split(' ')[0]}}</span>
                        <span class="extra">{{blog['location']}}</span>
                        <span class="extra">{{blog['duration']}}h</span>
                    </div>
                </div>

                <div class="body">
                    <h2>{{blog['title']}}</h2>

                    {{blog['body']}}
                </div>

                <div class="post-nav row ml-0 mr-0 d-flex justify-content-between" *ngIf="blogs != null">
                    <div class="prev col-md-6">
                        <a *ngIf="prev != null" routerLink="/blog/{{prev['id']}}">
                            <i class="fas fa-arrow-left"></i>
                            <span>
                                <h3>Previous blog</h3>
                                <h4>{{prev['title']}}</h4>
                            </span>
                        </a>
                    </div>
                    <div class="next col-md-6">
                        <a *ngIf="next != null" routerLink="/blog/{{next['id']}}">
                            <span>
                                <h3>Next blog</h3>
                                <h4>{{next['title']}}</h4>
                            </span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <aside class="col-lg-3 column hide-on-init" animateOnScroll animationName="animated fadeInRight">
                <h2 class="mb-4">Latest articles</h2>

                <ul class="list-unstyled">
                    <li class="mt-4 hide-on-init" animateOnScroll animationName="animated fadeIn" *ngFor="let b of blogs">
                        <img routerLink="/blog/{{b['id']}}" class="img-fluid rounded" src="{{apiUrl}}blogs/images/{{b['wallpaper']}}" [alt]="b['wallpaper']" [title]="b['title']"/>
                        <div>
                            <h3 routerLink="/blog/{{b['id']}}">{{b['title']}}</h3>
                            <span>{{b['date'].split(' ')[0]}}</span>
                        </div>
                    </li>
                </ul>
            </aside>
        </div>
    </section>
</main>