<header>
    <div class="jumbotron pb-5 rounded-0 text-center bg-darker">
        <nav class="pb-5">
            <img class="logo float-left" src="../../../assets/media/logo_03.png" alt="Logo" name="Logo" />
            <span class="float-right lead login-message" *ngIf="isLoggedIn()">
                <span class="hide-phone">Welcome <span class="text-light" *ngIf="getUser()">{{getUser().name}}</span>! - </span>
                <a (click)="logoutSubmit()">logout</a>
            </span>
        </nav>

        <h1 class="mb-2 h2 font-weight-bold text-center text-white">Latest blog posts</h1>
    </div>
</header>

<main id="main" class="container-fluid mt-5 pb-5 mb-5">

    <section class="pb-3 container">
        <nav class="ph-w-100 mb-4 d-flex justify-content-between">
            <form [formGroup]="filterForm">
                <select formControlName="tagId" title="Filter on tag">
                    <option value="">Show all tags</option>
                    <option [value]="tag.id" *ngFor="let tag of tags">{{tag.name}}</option>
                </select>
                <span class="arrow-down"></span>
            </form>

            <pagination-controls  id="blogs"
                                  (pageChange)="pageChanged($event)"
                                  maxSize="5"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </nav>

        <ul class="row justify-content-center list-unstyled">
            <li class="col-xl-4 col-lg-6 col-md-6 p-3" routerLink="/blog/create" *ngIf="isLoggedIn()">
                <!--suppress HtmlUnknownAttribute -->
                <figure class="m-0 height-auto rounded position-relative reveal hide-on-init" animateOnScroll animationName="animated fadeIn">
                    <img class="img-fluid" src="../../../assets/media/banner.jpg" alt="Add blog" title="Add blog"/>
                    <figcaption class="container bg-darker position-absolute fixed-top h-100 vertical-middle">
                        <h2 class="text-white text-center w-100 m-0 font-size-huge">+</h2>
                    </figcaption>
                </figure>
            </li>
            <li class="col-xl-4 col-lg-6 col-md-6 p-3" *ngFor="let blog of blogs | paginate: { id: 'blogs', itemsPerPage: getPageSize(), currentPage: currentPage, totalItems: totalItems }">
                <!--suppress HtmlUnknownAttribute -->
                <figure class="m-0 height-auto rounded position-relative reveal hide-on-init" animateOnScroll animationName="animated fadeIn">
                    <img class="img-fluid" routerLink="/blog/{{blog['id']}}" src="{{apiUrl}}blogs/images/{{blog['id']}}" [alt]="blog['id']" [title]="blog['title']"/>
                    <div class="location-wrapper">
                        <span class="location text position-absolute">{{blog['location']}}</span>
                        <span class="location position-absolute"></span>
                    </div>
                    <div class="duration-wrapper">
                        <span class="duration text position-absolute">{{blog['duration']}}h</span>
                        <span class="duration position-absolute"></span>
                    </div>
                    <figcaption routerLink="/blog/{{blog['id']}}" class="container bg-dark position-absolute fixed-bottom vertical-middle">
                        <div class="width-auto">
                            <h2 class="lead pt-1 pr-1 mb-0 width-auto text-white">{{blog['title']}}</h2>
                            <h3 class="lead pr-1 h3-small text-primary">{{blog['date'].split(' ')[0]}}</h3>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>
</main>