.custom-form {
  form input {
    background: no-repeat;
    margin: 0;
    border: 2px solid #e8ecec;
    border-radius: 8px;
    font-size: 16px;
    color: #474747;
    //padding: 12px 45px 12px 15px;
    outline: none;
  }

  .click {
    text-decoration: underline;
    cursor: pointer;
  }
}